In [9]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\hp\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\appdata\roaming\python\python39\site-packages (from scikit-learn->sklearn) (1.21.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)

In [14]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [15]:
#sample movie data with genre tags and user ratings

In [16]:
movies= pd.DataFrame({
    'movie_title':['Movie A','Movie B','Movie C','Movie D', 'Movie E'],
    'genre_action':[1,1,0,1,0],
    'genre_adventure': [1, 0, 1, 0, 1],
    'genre_comedy':[0,1,1,0,0],
    'genre_drama':[0,0,0,1,1],
    'user_rating':[5,4,3,2,1]
})
print(movies)

  movie_title  genre_action  genre_adventure  genre_comedy  genre_drama  \
0     Movie A             1                1             0            0
1     Movie B             1                0             1            0
2     Movie C             0                1             1            0
3     Movie D             1                0             0            1
4     Movie E             0                1             0            1

   user_rating
0            5
1            4
2            3
3            2
4            1

In [17]:
movies.head()

,movie_title,genre_action,genre_adventure,genre_comedy,genre_drama,user_rating
0,Movie A,1,1,0,0,5
1,Movie B,1,0,1,0,4
2,Movie C,0,1,1,0,3
3,Movie D,1,0,0,1,2
4,Movie E,0,1,0,1,1

In [19]:
#split the data into features(genre tages)and labels(user ratings)
x=movies.drop(['movie_title','user_rating'],axis=1)
y=movies['user_rating']
#training the model
clf=MultinomialNB()
clf.fit(x,y)

MultinomialNB()

In [20]:
new_movies=pd.DataFrame({
    'genre_action':[1],
    'genre_adventure':[1],
    'genre_comedy':[0],
    'genre_drama':[0]
})
user_rating_pred= clf.predict(new_movies)
print("Predicted User rating for the new Movie:",user_rating_pred[0])

Predicted User rating for the new Movie: 5